
body {
    background-color: black;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
}

.section-title {
    text-align: center;
}

.title-contain {
    border-bottom: purple solid 4px;
}

/* Header and Nav */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}
.ninelogo img {
    height: 100px;
    width: 100px;
}
header h1 {
    font-size: 50px;
    font-weight: lighter;
}
header nav {
   justify-content: flex-end;
   text-align: right;
}
header nav ul {
    list-style: none;
}

header nav ul li a {
    color: silver;
    font-size: 25px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
header ul li a:hover {
    background-color: silver;
    color: black;
}


/* Hero */
.hero .section-title {
    margin: 0 auto;
}
.hero-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;

}

.hero img {
    height: 419px;
    width: 360px;
    filter: grayscale(100%);
    border-radius: 50%;
}
.hero .grid-cell p {
    font-size: 20px;
}

/* Contact */
.contact-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    gap: 10px;
    justify-items: center;
    align-items: center; 
}
.contact a {
    font-size: 25px;
    color: silver;
    text-decoration: none;
}